/*
Curso de Engenharia de Software - UniEVANGÉLICA</h1>
Disciplina de Programação Web
DATA: 01/03/2023
Dev: Luiz Filipe - 2111287
*/
*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
    background-color: #8400ff;
}

.navbar-brand {
    font-weight: bold; /* Negrito */
    color: rgb(90, 90, 90); /* Cor branca */
}

.nav-link {
    color: rgb(90, 89, 89); /* Cor branca */
}

.nav-link:hover {
    color: rgba(116, 115, 115, 0.8); /* Cor branca com transparência ao passar o mouse */
}